<nav class="footer max-w-xl w-full m-auto mt-12 p-5 pt-2 pb-2 bg-white text-gray-600 rounded-ss-2xl rounded-se-2xl  ">
  <a href="/public/index.html"
    class="flex flex-col items-start justify-center gap-7 p- font-bold rounded-full hover:text-emerald-500 ">Accueil</a>
  <a href="/public/login.html"
    class="flex flex-col items-start justify-center gap-7 p- font-bold rounded-full hover:text-emerald-500 ">Tableau
    de board</a>
  <a href="#"
    class="flex flex-col items-start justify-center gap-7 p- font-bold rounded-full hover:text-emerald-500 ">A
    propos</a>
</nav>