<nav class="footer max-w-xl w-full m-auto mt-12 p-7 py-3 bg-white text-gray-600 rounded-ss-xl rounded-se-xl  ">
  <a href="index.html"
    class="flex flex-col items-start justify-center gap-7 p- font-bold rounded-full hover:text-emerald-500 ">Accueil</a>
  <a href="register.html"
    class="flex flex-col items-start justify-center gap-7 p- font-bold rounded-full hover:text-emerald-500 ">Tableau
    de board</a>
  <a href="#"
    class="flex flex-col items-start justify-center gap-7 p- font-bold rounded-full hover:text-emerald-500 ">A
    propos</a>
</nav>