/* exportdefaultPercocets99 */
.container{
  background-color: #98888858;
  background-color: #2a2a2a3a;
  /* color: black; */
}
button.button, a.button:hover{
  color: yellow;
  background-color: purple;
}
button.button{
  padding-top: 10px;
  padding-bottom: 10px;
}
button.button:hover{
  background-color: rgb(255, 196, 0);
  color: black;
  transform: scale(1.02);
  transition: all .3s ease;
}

table {
  width: 100%;
  border-collapse: collapse;  
  margin-top: 10px;
}

/* table, */
th,
td {
  border: 1px solid green;
  border: 1px solid yellow;
  padding: 8px;
  text-align: left;
}
th{
  font-weight: 800;
}
td:nth-child(4){
  font-weight: 800;
}

.footer{
  display: flex;
  justify-content: space-between;
  gap: 10px;  
  position: fixed;
  bottom: 0;
}
.d-none{
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
@media (max-width:758px) {
  h1{
    font-size: 36px;
  }
  .container{
    padding-left: 3%;
    padding-right: 3%;
  }
  .wrapper{
    padding: 7% 3% 2% 3%;
  }
  h2{
    font-size: 24px;
  }
  th, td{
    padding: 4px;
  }
  th, td, .button {
    font-size: 14px;
  }

  td:nth-child(1){
    max-width: 100px;
  }

  .footer{
    padding: 1rem 1rem;
    gap: 15px;
    font-size: 16px;
    box-shadow: 0 0 6px green;
  }
}

@media (max-width:300px) {
  .button{
    padding: 2px 4px;
  }
}